@import url('https://fonts.googleapis.com/css2?family=Exo+2');

body {
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(121, 72, 72);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quote-box {
    border-radius: 3px;
    width: 450px;
    padding: 40px 50px;
    background-color: #fff;
    .quote-text {
        i {
            font-size: 1em;
            margin-right: 0.4em;
        }
        font-weight: 500;
        font-size: 1.75em;
    }
    .quote-author {
        text-align: right;
        margin-top: 20px;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .button {
            align-items: center;
            height: 38px;
            border: none;
            border-radius: 3px;
            color: #fff;
            background-color: rgb(121, 72, 72);
            outline: none;
            text-decoration: none;
            font-size: 0.85em;
            padding: 0px 10px;
            margin-top: 30px;
            opacity: 1;
            cursor: pointer;
            &:hover {
                opacity: 0.9;
            }
            &#tweet-quote {
                font-size: 1.6em;   
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #quote-box {
        margin-top: -150px;
        width: 100%;
    }
  }